{% block stylesheets %}

<link rel="stylesheet" href="/static/assets/css/sidenav.css" />

{% load static %}
{% load i18n %}

{% endblock stylesheets %}

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <div class="sidenav-header align-items-center">
  <div class="scrollbar-inner">
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/">
        <img src="{% static 'assets/img/brand/SACFU.png' %}" class="navbar-brand-img" alt="Logo" style="width: 120px; height: auto;">
      </a>
      <div style="background-color: rgb(240, 128, 0); color: rgb(25, 25, 117); border-radius: 30px; padding: 1%; text-align: center; margin-top: 0px; width: 80%; margin-left: auto; margin-right: auto; position: relative;"></div>
        <strong>CONTABLE</strong>
        <div style="background-color: rgb(240, 128, 0); color: rgb(25, 25, 117); border-radius: 30px; padding: 1%; text-align: center; margin-top: 0px; width: 80%; margin-left: auto; margin-right: auto; position: relative;"></div>
      </div>
      <div style="margin-bottom: 15px;"></div>


    <div class="navbar-inner">
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <hr class="my-1">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if '/' == segment %} active {% endif %}" href="/">
                        <i class="ni ni-tv-2 text-primary"></i>
                        <span class="nav-link-text">Inicio</span>
                    </a>
                </li>
        
      <li class="nav-item">
        <a class="nav-link" href="#" id="planCuentaDropdown" data-toggle="collapse" data-target="#planCuentaMenu" aria-expanded="false" aria-controls="planCuentaMenu">
          <i class="ni ni-folder-17 text-orange"></i>
          <span class="nav-link-text">Plan de Cuenta</span>
        </a>
        <div id="planCuentaMenu" class="collapse ml-3">
          <ul class="nav flex-column">
        <li class="nav-item"></li>
          <a class="nav-link" href="{% url 'plan_cuenta_create' %}" style="padding-left: 15px;">
            <i class="ni ni-fat-add text-orange"></i>Registrar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'plan_cuenta_list' %}" style="padding-left: 15px;">
            <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
          </a>
        </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'periodo_contable_list' %}">
          <i class="ni ni-calendar-grid-58 text-orange"></i>
          <span class="nav-link-text">Periodo Contable</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" id="asientoContableDropdown" data-toggle="collapse" data-target="#asientoContableMenu" aria-expanded="false" aria-controls="asientoContableMenu">
          <i class="ni ni-single-copy-04 text-orange"></i>
          <span class="nav-link-text">Asiento Contable</span>
        </a>
        <div id="asientoContableMenu" class="collapse ml-3">
          <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/asientoContable/registrar" style="padding-left: 15px;">
            <i class="ni ni-fat-add text-orange"></i>Registrar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asientoContable/consultar" style="padding-left: 15px;">
            <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
          </a>
        </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" id="detalleAsientoDropdown" data-toggle="collapse" data-target="#detalleAsientoMenu" aria-expanded="false" aria-controls="detalleAsientoMenu">
          <i class="ni ni-collection text-orange"></i>
          <span class="nav-link-text">Detalle Asiento</span>
        </a>
        <div id="detalleAsientoMenu" class="collapse ml-3">
          <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/detalleAsiento/registrar" style="padding-left: 15px;">
            <i class="ni ni-fat-add text-orange"></i>Registrar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalleAsiento/consultar" style="padding-left: 15px;">
            <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
          </a>
        </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" id="saldoContableDropdown" data-toggle="collapse" data-target="#saldoContableMenu" aria-expanded="false" aria-controls="saldoContableMenu">
          <i class="ni ni-chart-bar-32 text-orange"></i>
          <span class="nav-link-text">Saldo Contable</span>
        </a>
        <div id="saldoContableMenu" class="collapse ml-3">
          <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/saldoContable/registrar" style="padding-left: 15px;">
            <i class="ni ni-fat-add text-orange"></i>Registrar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saldoContable/consultar" style="padding-left: 15px;">
            <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
          </a>
        </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'empresa_list' %}">
          <i class="ni ni-building text-orange"></i>
          <span class="nav-link-text">Empresa</span>
        </a>
      </li>
      <!-- {% if perms.home.view_banco or perms.home.add_banco %}
      <li class="nav-item">
        <a class="nav-link" href="/tablaBancos.html" style="padding-left: 15px;"> <i class="ni ni-building text-orange"></i>Bancos</a>
      </li>
      {% endif %} -->
      <li class="nav-item">
        <a class="nav-link" href="#" id="bancoDropdown" data-toggle="collapse" data-target="#bancoMenu" aria-expanded="false" aria-controls="bancoMenu">
          <i class="ni ni-credit-card text-orange"></i>
          <span class="nav-link-text">Banco</span>
        </a>
        <div id="bancoMenu" class="collapse ml-3">
          <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'banco_create' %}" style="padding-left: 15px;">
            <i class="ni ni-fat-add text-orange"></i>Registrar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'banco_list' %}" style="padding-left: 15px;">
            <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
          </a>
        </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" id="cuentaBancoDropdown" data-toggle="collapse" data-target="#cuentaBancoMenu" aria-expanded="false" aria-controls="cuentaBancoMenu">
          <i class="ni ni-archive-2 text-orange"></i>
          <span class="nav-link-text">Cuentas Bancarias</span>
        </a>
        <div id="cuentaBancoMenu" class="collapse ml-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cuenta_banco_create' %}" style="padding-left: 15px;">
                <i class="ni ni-fat-add text-orange"></i>Registrar
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cuenta_banco_list' %}" style="padding-left: 15px;">
                <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" id="facturaDropdown" data-toggle="collapse" data-target="#facturaMenu" aria-expanded="false" aria-controls="facturaMenu">
          <i class="ni ni-single-copy-04 text-orange"></i>
          <span class="nav-link-text">Facturas</span>
        </a>
        <div id="facturaMenu" class="collapse ml-3">
          <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#" id="facturaAdministrativaDropdown" data-toggle="collapse" data-target="#facturaAdministrativaMenu" aria-expanded="false" aria-controls="facturaAdministrativaMenu" style="padding-left: 15px;">
            <i class="ni ni-archive-2 text-orange"></i>Administrativa
          </a>
          <div id="facturaAdministrativaMenu" class="collapse ml-3">
            <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/factura/administrativa/registrar" style="padding-left: 30px;">
              <i class="ni ni-fat-add text-orange"></i>Registrar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/factura/administrativa/consultar" style="padding-left: 30px;">
              <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
            </a>
          </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="facturaContableDropdown" data-toggle="collapse" data-target="#facturaContableMenu" aria-expanded="false" aria-controls="facturaContableMenu" style="padding-left: 15px;">
            <i class="ni ni-collection text-orange"></i>Contable
          </a>
          <div id="facturaContableMenu" class="collapse ml-3">
            <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/factura/contable/registrar" style="padding-left: 30px;">
              <i class="ni ni-fat-add text-orange"></i>Registrar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/factura/contable/consultar" style="padding-left: 30px;">
              <i class="ni ni-bullet-list-67 text-orange"></i>Consultar
            </a>
          </li>
            </ul>
          </div>
        </li>
          </ul>
        </div>
      </li>
                    
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->

        <script>
          document.addEventListener("DOMContentLoaded", function () {
              var dropdownTrigger = document.getElementById("personaDropdown");
              var dropdownMenu = document.getElementById("personaMenu");

              // Evento cuando el dropdown se abre
              dropdownTrigger.addEventListener("click", function () {
                  if (!dropdownMenu.classList.contains("show")) {
                      dropdownTrigger.classList.add("active-dropdown");
                  } else {
                      dropdownTrigger.classList.remove("active-dropdown");
                  }
              });

              // Evento cuando el dropdown se cierra
              dropdownMenu.addEventListener("hidden.bs.collapse", function () {
                  dropdownTrigger.classList.remove("active-dropdown");
              });
          });
        </script>
       
      </div>
    </div>
  </div>
</nav>