{% block stylesheets %}

<link rel="stylesheet" href="/static/assets/css/sidenav.css" />

{% endblock stylesheets %}

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>  

    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Divider -->
      <hr class="my-1">
      <!-- Nav items -->
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="ni ni-tv-2 text-primary"></i>
          <span class="nav-link-text">Inicio</span>
        </a>
        </li>
        
        <li class="nav-item">
        <a class="nav-link menu1" href="#" id="personaDropdown" data-toggle="collapse" data-target="#menu1" aria-expanded="false" aria-controls="menu1">
          <i class="ni ni-single-02 text-orange"></i>
          <span class="nav-link-text">Gestionar Persona</span>
        </a>
        <div id="menu1" class="collapse">
          <ul class="nav flex-column ml-3">
          <li class="nav-item">
            <a class="nav-link" href="/persona.html" style="padding-left: 15px;"><i class="ni ni-badge text-orange"></i>Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaPersona.html" style="padding-left: 15px;"><i class="ni ni-collection text-orange"></i>Consultar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaTipoPersona.html" style="padding-left: 15px;">
            <i class="ni ni-bullet-list-67 text-orange"></i>Tipo
            </a>
          </li>
          </ul>
        </div>
        </li>
        <li class="nav-item">  
          <a class="nav-link menu1" href="#" id="personaDropdown" data-toggle="collapse" data-target="#menu2" aria-expanded="false" aria-controls="menu2">  
            <i class="ni ni-hat-3 text-orange"></i>  
            <span class="nav-link-text">Gestionar Academia</span>  
          </a>  
          <div id="menu2" class="collapse">  
            <ul class="nav flex-column ml-3">  
              <li class="nav-item">  
                <a class="nav-link" href="#" id="ofertasDropdown" data-toggle="collapse" data-target="#ofertasMenu" aria-expanded="false" aria-controls="ofertasMenu" style="padding-left: 15px;">  
                  <i class="ni ni-ruler-pencil text-orange"></i>Oferta</a>  
                <div id="ofertasMenu" class="collapse ml-3">  
                  <ul class="nav flex-column">  
                    <li class="nav-item">  
                      <a class="nav-link" href="/tablaOfertas.html" style="padding-left: 30px;"><i class="ni ni-bullet-list-67 text-orange"></i>Consultar</a>  
                    </li>  
                    <li class="nav-item">  
                      <a class="nav-link" href="/tablaTipoOfertas.html" style="padding-left: 30px;"><i class="ni ni-bullet-list-67 text-orange"></i>Tipo</a>  
                    </li>  
                    <li class="nav-item">  
                      <a class="nav-link" href="/tablaCuotas.html" style="padding-left: 30px;"><i class="ni ni-bullet-list-67 text-orange"></i>Cuotas</a>  
                    </li>  
                  </ul>  
                </div>  
              </li>  
              <li class="nav-item">  
                <a class="nav-link" href="/tablaMaterias.html" style="padding-left: 15px;"><i class="ni ni-books text-orange"></i>Materia</a>  
              </li>  
              <li class="nav-item">  
                <a class="nav-link" href="/tablaCohortes.html" style="padding-left: 15px;"> <i class="ni ni-book-bookmark text-orange"></i>Cohorte</a>  
              </li>   
              <li class="nav-item">  
                <a class="nav-link" href="/tablaCargos.html" style="padding-left: 15px;"> <i class="ni ni-circle-08 text-orange"></i>Cargos</a>  
              </li>  
              <li class="nav-item">  
                <a class="nav-link" href="/tablaContratos.html" style="padding-left: 15px;"> <i class="ni ni-paper-diploma text-orange"></i>Contrato</a>  
              </li>  
             
              <li class="nav-item">  
                <a class="nav-link" href="/tablaHonorarios.html" style="padding-left: 15px;"> <i class="ni ni-money-coins text-orange"></i>Honorario</a>  
              </li>  
            </ul>  
          </div>  
        </li>
        

        <li class="nav-item">
        <a class="nav-link menu1" href="#" id="personaDropdown" data-toggle="collapse" data-target="#menu3" aria-expanded="false" aria-controls="menu3">
          <i class="ni ni-folder-17 text-orange"></i>
          <span class="nav-link-text">Gestionar Trámite</span> 
        </a>
        <div id="menu3" class="collapse">
          <ul class="nav flex-column ml-3">

            <li class="nav-item">  
              <a class="nav-link" href="#" id="tramiteDropdown" data-toggle="collapse" data-target="#tramiteMenu" aria-expanded="false" aria-controls="tramiteMenu" style="padding-left: 15px;">  
                <i class="ni  ni-caps-small text-orange"></i>Trámite</a>  
              <div id="tramiteMenu" class="collapse ml-3">  
                <ul class="nav flex-column">  
                  <li class="nav-item">  
                    <a class="nav-link" href="/solicitud.html" style="padding-left: 30px;"><i class="ni ni-fat-add  text-orange"></i>Solicitud</a>  
                  </li>  
                  <li class="nav-item">  
                    <a class="nav-link" href="/tablaSolicitud.html" style="padding-left: 30px;"><i class="ni ni-bullet-list-67 text-orange"></i>Consultar</a>  
                  </li>  
                  <li class="nav-item">  
                    <a class="nav-link" href="/tablaTramites.html" style="padding-left: 30px;"><i class="ni ni-single-copy-04 text-orange"></i>Tipo de Trámite</a>  
                  </li>  
                </ul>  
              </div>  
            </li>  

          <li class="nav-item">
            <a class="nav-link" href="/tablaServicios.html" style="padding-left: 15px;"> <i class="ni ni-delivery-fast text-orange"></i>Servicio Expedito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaRequisitos.html" style="padding-left: 15px;"> <i class="ni ni-check-bold text-orange"></i>Requisito</a>
          </li>
          </ul>
        </div>
        </li>

        <li class="nav-item">
        <a class="nav-link menu1" href="#" id="personaDropdown" data-toggle="collapse" data-target="#menu4" aria-expanded="false" aria-controls="menu4">
          <i class="ni ni-credit-card text-orange"></i>
          <span class="nav-link-text">Gestionar Finanza</span> 
        </a>
        <div id="menu4" class="collapse">
          <ul class="nav flex-column ml-3">
          <li class="nav-item">
            <a class="nav-link" href="/tipoPersona.html" style="padding-left: 15px;"><i class="ni ni-fat-add text-orange"></i>Ingresos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaPersona.html" style="padding-left: 15px;"><i class="ni ni-money-coins text-orange"></i>Egresos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaBancos.html" style="padding-left: 15px;"> <i class="ni ni-building text-orange"></i>Bancos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaDenominaciones.html" style="padding-left: 15px;"> <i class="ni ni-archive-2 text-orange"></i>Denominaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaMonedas.html" style="padding-left: 15px;"> <i class="ni ni-archive-2 text-orange"></i>Monedas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tablaTasas.html" style="padding-left: 15px;"> <i class="ni ni-archive-2 text-orange"></i>Tasas</a>
          </li>
          </ul>
        </div>
        </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Icons</span>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="/usuario.html">
              <i class="ni ni-circle-08 text-primary"></i>
              <span class="nav-link-text">Usuario</span>
            </a>
          </li>
        -->

          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="ni ni-settings-gear-65 text-default"></i>
              <span class="nav-link-text">Configuración</span>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Google</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/login.html">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">Login (template)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register.html">
              <i class="ni ni-circle-08 text-pink"></i>
              <span class="nav-link-text">Register (template)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Tables</span>
            </a>
          </li>
        <li class="nav-item">
          <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="nav-link" style="background: none; border: none;">
                  <i class="ni ni-user-run text-red"></i>
                  <span class="nav-link-text">Salir</span>
              </button>
          </form>
        </li>
                    
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->

        <script>
          document.addEventListener("DOMContentLoaded", function () {
              var dropdownTrigger = document.getElementById("personaDropdown");
              var dropdownMenu = document.getElementById("personaMenu");

              // Evento cuando el dropdown se abre
              dropdownTrigger.addEventListener("click", function () {
                  if (!dropdownMenu.classList.contains("show")) {
                      dropdownTrigger.classList.add("active-dropdown");
                  } else {
                      dropdownTrigger.classList.remove("active-dropdown");
                  }
              });

              // Evento cuando el dropdown se cierra
              dropdownMenu.addEventListener("hidden.bs.collapse", function () {
                  dropdownTrigger.classList.remove("active-dropdown");
              });
          });
        </script>
       
      </div>
    </div>
  </div>
</nav>