{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/styleForms.css" />
<link rel="stylesheet" href="/static/assets/css/argon.css" />
{% endblock stylesheets %}
{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<div class=" mt-5">
  <h2 class="text-center text-dark" style="margin: 0 auto; padding: 5px 0 15px;">Registrar Contrato</h2>
  <form method="POST" class="mt-3 text-dark" autocomplete="off" style="font-weight: bold; max-width: 600px; margin: 0 auto;" id="contratoForm" action="{% url 'contrato_modal' %}">  
    {% csrf_token %}  
    
    <div class="form-row">  
      <div class="form-group col-md-6">  
        <label for="cedulaPersona">Cédula del Contratado:</label>  
        <div class="input-group"> <!-- Usar input-group para alinear botón y select -->  
            <input type="text" id="cedulaPersona" name="cedulaPersona" class="form-control text-dark" tabindex="1" required oninput="checkPersona()" placeholder="Ingrese cédula...">
            <div class="input-group-append">
                <span id="check-icon" class="input-group-text"></span>
            </div>
            <input type="hidden" id="idPersona" name="idPersona" />
        </div>  
      </div>
      <div class="form-group col-md-6">  
        <label for="idCargo">Cargo:</label>  
        <div class="input-group"> <!-- Usar input-group para alinear botón y select -->  
          <select id="idCargo" name="idCargo" class="form-control text-dark" tabindex="1" required>  
            <option value="" disabled selected>Seleccione..</option>  
           {% for cargo in cargos %}  
              <option value="{{ cargo.idCargo }}" class="text-orange">{{ cargo.nombreCargo }}</option>  
            {% endfor %}
          </select>  
        </div>  
      </div>  
      
      <div class="form-group col-md-6">  
        <label for="idMateria">Materia:</label>  
        <div class="input-group"> <!-- Usar input-group para alinear botón y select -->  
          <select id="idMateria" name="idMateria" class="form-control text-dark" tabindex="1" required>  
            <option value="" disabled selected>Seleccione..</option>  
           {% for materia in materias %}  
              <option value="{{ materia.idMateria }}" class="text-orange">{{ materia.nombreMateria }}</option>  
            {% endfor %}
          </select>  
        </div>  
      </div>  

      <div class="form-group col-md-6">  
        <label for="nombreCohorte">Cohorte:</label>  
        <div class="input-group"> <!-- Usar input-group para alinear botón y select -->  
          <input type="text" id="nombreCohorte" name="nombreCohorte" class="form-control text-dark" tabindex="1" required oninput="checkCohorte()" placeholder="Ingrese nombre de cohorte...">
          <div class="input-group-append">
              <span id="check-cohorte-icon" class="input-group-text"></span>
          </div>
          <input type="hidden" id="idCohorte" name="idCohorte" />
          <input type="hidden" id="estadoContrato" name="estadoContrato" class="form-control text-dark" value="ACTIVO" />
        </div>  
      </div>  
    </div>  
    
    <div class="text-center">  
      <input type="submit" class="btn btn-warning mt-4" value="Guardar" />  
    </div>  
  </form>
  {% block javascripts %}
  <script>
    const personas = [
        {% for persona in personas %}
            { idPersona: "{{ persona.idPersona|escapejs }}", cedula: "{{ persona.cedula|escapejs }}" },
        {% endfor %}
    ];

    const cohortes = [
        {% for cohorte in cohortes %}
            { idCohorte: "{{ cohorte.idCohorte|escapejs }}", nombreCohorte: "{{ cohorte.nombreCohorte|escapejs }}" },
        {% endfor %}
    ];
  
    function checkPersona() {
        const input = document.getElementById('cedulaPersona').value;
        const icon = document.getElementById('check-icon');
        const idPersonaInput = document.getElementById('idPersona');
        const foundPersona = personas.find(persona => persona.cedula === input);
  
        if (foundPersona) {
            icon.innerHTML = '✔️'; // Pajarito verde
            icon.style.color = 'blue';
            idPersonaInput.value = foundPersona.idPersona;
        } else {
            icon.innerHTML = '❌'; // X roja
            icon.style.color = 'red';
            idPersonaInput.value = '';
        }
    }

    function checkCohorte() {
        const input = document.getElementById('nombreCohorte').value;
        const icon = document.getElementById('check-cohorte-icon');
        const idCohorteInput = document.getElementById('idCohorte');
        const foundCohorte = cohortes.find(cohorte => cohorte.nombreCohorte === input);
  
        if (foundCohorte) {
            icon.innerHTML = '✔️'; // Pajarito verde
            icon.style.color = 'blue';
            idCohorteInput.value = foundCohorte.idCohorte;
        } else {
            icon.innerHTML = '❌'; // X roja
            icon.style.color = 'red';
            idCohorteInput.value = '';
        }
    }
  </script>
  {% endblock javascripts %}
{% endblock content %}