{% extends 'layouts/base.html' %}

{% block title %}Registro de Usuario{% endblock title %}

{% block stylesheets %}
<!-- Puedes agregar tus hojas de estilo aquí -->
<link rel="stylesheet" href="/static/assets/css/style.css" />
<link rel="stylesheet" href="/static/assets/css/argon.css" />

{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Formulario de Registro</h2>
  <form method="POST" class="mt-4">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="tipoPersona">Tipo de Persona:</label>
          <button class="btn btn-warning btn-square btn-sm ml-2" type="button" title="Registrar Tipo de Persona">+</button>  
          <select id="tipoPersona" name="idTP" class="form-control" required>
            <option value="" disabled selected>Seleccione..</option>
            <option value="Cliente" class="text-orange">Cliente</option>
            <option value="Contratado" class="text-orange">Contratado</option>
            <option value="Usuario Administrador" class="text-orange">Usuario Administrador</option>
            <option value="Usuario Estandar" class="text-orange">Usuario Estandar</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="nombres">Nombres:</label>
          <input type="text" id="nombres" name="nombres" class="form-control" placeholder="Ingrese su nombre" required />
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="text" id="telefono" name="telefono" class="form-control" placeholder="0412-000-0000" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cedula">Cédula:</label>
          <input type="text" id="cedula" name="cedula" class="form-control" placeholder="Ingrese su cédula" required />
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Ingrese su apellido" required />
        </div>
        
        <div class="form-group">
          <label for="correo">Correo Electrónico:</label>
          <input type="email" id="correo" name="correo" class="form-control" placeholder="example@gmail.com" required />
        </div>
      </div>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-warning mt-4" value="Guardar" />
    </div>
  </form>
</div>
{% endblock content %}

{% block javascripts %}
<script>
  

</script>
{% endblock javascripts %}