{% extends 'layouts/base.html' %}

{% block title %}Listado de Personas{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/styleForms.css" />
<link rel="stylesheet" href="/static/assets/css/argon.css" />
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center text-dark" style="margin: 0 auto; padding: 5px 0 15px;">Lista de Materias Registradas</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="background-color: #bcbcbc; border: none;">
            <i class="fas fa-search text-warning"></i>
          </span>
        </div>
        <input class="form-control" id="searchInput" type="text" placeholder="Buscar..." onkeyup="filterTable()">
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-warning btn-square btn-sm my-2" type="button" title="Registrar Materia" data-toggle="modal" data-target="#materiaModal">+</button>
    </div>
  </div>

  <br>
  <table class="table table-striped text-gray-dark" id="materiasTable">
    <thead class="text-darker">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Formación</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>

      </tr>
    </thead>
    <tbody>
      <!-- Contenido de la tabla -->
      {% for materia in materias %}  
      <tr>  
          <td>{{ materia.idMateria }}</td>  
          <td>{{ materia.idFormacion.nombreFormacion }}</td>  
          <td>{{ materia.nombreMateria }}</td>  
          <td>{{ materia.estadoMateria }}</td>  
          <td>{{ materia.fechaMateria|date:"d/m/Y" }}</td>  
          <td>
            <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#editMateriaModal" data-id="{{ materia.idMateria }}">Editar</button>
            <button class="btn btn-sm btn-danger" type="button" onclick="deleteMaterias('{{ materia.idMateria }}')">Eliminar</button>
            <button class="btn btn-sm btn-success" type="button" onclick="reactivateMaterias('{{ materia.idMateria }}')">Reactivar</button>
          </td>
      </tr>  
  {% endfor %}
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="materiaModal" tabindex="-1" role="dialog" aria-labelledby="materiaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="materiaModalLabel">Registro de Materia </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenedor para los mensajes -->
        <div id="modalMessages"></div>
        <!-- El contenido del formulario se cargará aquí -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editMateriaModal" tabindex="-1" role="dialog" aria-labelledby="editMateriaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="editMateriaModalLabel">Modificar Materia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenedor para los mensajes -->
        <div id="modalMessages"></div>
        <form id="editMateriaForm" >
          <!-- Aquí se cargará el formulario de edición -->
          <div id="editMateriaContent">
            <!-- El contenido del formulario se cargará aquí -->
          </div>
         
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block javascripts %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Cargar el formulario en el modal de registro
    $('#materiaModal').on('show.bs.modal', function (e) {
      var modal = $(this);
      $.ajax({
        url: 'apps/home/materia.html',
        method: 'GET',
        success: function(data) {
          modal.find('.modal-body').html(data);
        }
      });
    });

    // Cargar el formulario en el modal de edición
    $('#editMateriaModal').on('show.bs.modal', function (e) {
      var button = $(e.relatedTarget); // Botón que activó el modal
      var idMateria = button.data('id'); // Extraer la información de los atributos data-*
      var modal = $(this);
      $.ajax({
        url: '/editMateria/' + idMateria + '/',
        type: 'get',
        dataType: 'html',
        success: function(data) {
          modal.find('.modal-body').html(data);

          // Adjuntar el evento submit al formulario de edición después de cargarlo
          $(document).off('submit', '#editMateriaForm').on('submit', '#editMateriaForm', function(e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
              url: form.attr('action'),
              method: 'POST',
              data: form.serialize(),
              success: function(response) {
                var messagesContainer = $('#modalMessagesEdit');
                messagesContainer.empty();
                if (response.success) {
                  messagesContainer.append('<div class="alert alert-success alert-dismissible fade show" role="alert">' + response.message + '</div>');
                  $('#editMateriaModal').modal('hide');
                  location.reload();
                } else {
                  var errors = response.errors;
                  for (var field in errors) {
                    messagesContainer.append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + errors[field] + '</div>');
                  }
                }
              },
              error: function() {
                alert('Error al procesar la solicitud.');
              },
            });
          });
        },
        error: function(error) {
          console.log(error);
        }
      });
    });

    // Adjuntar el evento submit al formulario de registro
    $(document).on('submit', '#materiaForm', function(e) {
      e.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('action'),
        method: form.attr('method'),
        data: form.serialize(),
        success: function(response) {
          var messagesContainer = $('#modalMessages');
          messagesContainer.empty();
          if (response.success) {
            messagesContainer.append('<div class="alert alert-success alert-dismissible fade show" role="alert">' + response.message + '</div>');
            $('#materiaModal').modal('hide');
            location.reload(); // Recargar la página para ver los cambios
          } else {
            // Mostrar errores en el modal
            var errors = response.errors;
            for (var field in errors) {
              messagesContainer.append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + errors[field] + '</div>');
            }
          }
        },
        error: function(xhr, status, error) {
          alert('Error al procesar la solicitud: ' + error);
        }
      });
    });
  });

  // Función para eliminar una materia
  function deleteMaterias(id) {
    if (confirm('¿Estás seguro de que deseas eliminar esta materia?')) {
      $.ajax({
        url: '{% url "delete_materias" 0 %}'.replace('0', id),
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
          if (response.success) {
            alert(response.message);
            location.reload(); // Recargar la página para ver los cambios
          } else {
            alert('Error al eliminar la materia.');
          }
        }
      });
    }
  }

  // Función para reactivar una materia
  function reactivateMaterias(id) {
    if (confirm('¿Estás seguro de que deseas reactivar esta materia?')) {
      $.ajax({
        url: '{% url "reactivate_materias" 0 %}'.replace('0', id),
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
          if (response.success) {
            alert(response.message);
            location.reload(); // Recargar la página para ver los cambios
          } else {
            alert('Error al reactivar la materia.');
          }
        }
      });
    }
  }

  // Función para filtrar la tabla
  function filterTable() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("materiasTable");
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      tr[i].style.display = "none";
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j]) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            break;
          }
        }
      }
    }
  }
</script>
{% endblock javascripts %}