{% extends 'layouts/base.html' %}

{% block title %}Listado de Personas{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/styleForms.css" />
<link rel="stylesheet" href="/static/assets/css/argon.css" />
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center text-dark" style="margin: 0 auto; padding: 5px 0 15px;">Lista de Honorario Registrados</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="background-color: #bcbcbc; border: none;">
            <i class="fas fa-search text-warning"></i>
          </span>
        </div>
        <input class="form-control" id="searchInput" type="text" placeholder="Buscar..." onkeyup="filterTable()">
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-warning btn-square btn-sm my-2" type="button" title="Registrar Honorario Academica" data-toggle="modal" data-target="#honorarioModal">+</button>
    </div>
  </div>

  <br>
  <table class="table table-striped text-gray-dark" id="honorariosTable">
    <thead class="text-darker">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cargo</th>
        <th scope="col">Cédula</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Materia</th>
        <th scope="col">Horas</th>
        <th scope="col">Cohorte</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Contenido de la tabla -->
        {% for honorario in honorarios %}
        <tr>
          <td>{{ honorario.idHonorario }}</td>
          <td>{{ honorario.idCargo.nombreCargo }}</td> <!-- Mostrar el ID del contrato -->
          <td>{{ honorario.idPersona.cedula }}</td>
          <td>{{ honorario.idPersona.nombres }}</td>
          <td>{{ honorario.idPersona.apellidos }}</td>  
          <td>{{ honorario.idMateria.nombreMateria }}</td>
          <td>{{ honorario.horas }}</td>
          <td>{{ honorario.idCohorte.nombreCohorte }}</td>
          <td>{{ honorario.estadoHonorario }}</td>
          <td>{{ honorario.fechaHonorario|date:"d/m/Y" }}</td>
          <td>

            <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#editHonorarioModal" data-id="{{ honorario.idHonorario }}">
              Editar
            </button>

            {% if honorario.estadoHonorario == "ACTIVO" %}
            <button class="btn btn-sm btn-danger" type="button" onclick="deleteHonorario('{{ honorario.idHonorario }}')">
              Eliminar
            </button>
            {% endif %}

            {% if honorario.estadoHonorario == "INACTIVO" %}
            <button class="btn btn-sm btn-success" type="button" onclick="reactivateHonorario('{{ honorario.idHonorario }}')">
              Reactivar
            </button>
            {% endif %}
          </td>
      </tr>
      {% empty %}
      <tr>
          <td colspan="5" class="text-center">No hay registros disponibles.</td>
      </tr>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="honorarioModal" tabindex="-1" role="dialog" aria-labelledby="honorarioModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="honorarioModalLabel">Registro de Honorario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenedor para los mensajes -->
        <div id="modalMessages"></div>
        <!-- El contenido del formulario se cargará aquí -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editHonorarioModal" tabindex="-1" role="dialog" aria-labelledby="editHonorarioModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editHonorarioModalLabel">Actualizar Honorario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenedor para los mensajes -->
        <div id="modalMessages">

          <form id="editHonorarioForm">
            <!-- El contenido del formulario de edición se cargará aquí -->
          </form>
        </div>
        <!-- El contenido del formulario se cargará aquí -->
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/validacionesPersona.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#honorarioModal').on('show.bs.modal', function (e) {
      var modal = $(this);
      $.ajax({
        url: 'apps/home/honorario.html',
        method: 'GET',
        success: function(data) {
          modal.find('.modal-body').html(data);
        }
      });
    });
    
    
    $(document).on('submit', '#honorarioForm', function(e) {
      e.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('action'),
        method: form.attr('method'),
        data: form.serialize(),
        success: function(response) {
          var messagesContainer = $('#modalMessages');
          messagesContainer.empty();
          if (response.success) {
            messagesContainer.append('<div class="alert alert-success alert-dismissible fade show" role="alert">' + response.message + '</div>');
            $('#honorarioModal').modal('hide');
            location.reload();  // Recargar la página para ver los cambios
          } else {
            // Mostrar errores en el modal
            var errors = response.errors;
            for (var field in errors) {
              messagesContainer.append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + errors[field] + '</div>');
            }
          }
        }
      });
    });
  });

   // Función para cargar el formulario en el modal de edición
   $('#editHonorarioModal').on('show.bs.modal', function (e) {
    var button = $(e.relatedTarget);
    var idHonorario = button.data('id');
    var modal = $(this);
    
    $.ajax({
        url: '/editHonorario/' + idHonorario + '/',
        type: 'get',
        dataType: 'html',
        success: function(data) {
            modal.find('.modal-body').html(data);

            // Manejar el envío del formulario
            modal.find('#editHonorarioForm').off('submit').on('submit', function(e) {
                e.preventDefault();
                var form = $(this);
                
                $.ajax({
                    url: form.attr('action'),
                    method: 'POST',
                    data: form.serialize(),
                    success: function(response) {
                        if(response.success) {
                            $('#editHonorarioModal').modal('hide');
                            location.reload();
                        } else {
                            // Mostrar errores en el contenedor correcto
                            var errors = response.errors;
                            $('#modalMessagesEdit').empty();
                            for (var field in errors) {
                                $('#modalMessagesEdit').append(
                                    '<div class="alert alert-danger">' + errors[field] + '</div>'
                                );
                            }
                        }
                    },
                    error: function(xhr) {
                        console.error('Error:', xhr.responseText);
                    }
                });
            });
        },
        error: function(xhr) {
            console.error('Error al cargar el formulario:', xhr.responseText);
        }
    });
});


  

// Eliminar honorario
function deleteHonorario(id) {
  if(confirm('¿Está seguro de eliminar este registro?')) {
    $.ajax({
      url: "{% url 'delete_honorario' 0 %}".replace('0', id),
      method: 'POST',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(response) {
        if(response.success) {
          location.reload();
        } else {
          alert('Error al eliminar');
        }
      }
    });
  }
}

// Reactivar honorario
function reactivateHonorario(id) {
  if(confirm('¿Está seguro de reactivar este registro?')) {
    $.ajax({
      url: "{% url 'reactivate_honorario' 0 %}".replace('0', id),
      method: 'POST',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(response) {
        if(response.success) {
          location.reload();
        } else {
          alert('Error al reactivar');
        }
      }
    });
  }
}

</script>
<script>
  function filterTable() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("honorariosTable");
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      tr[i].style.display = "none";
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j]) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            break;
          }
        }
      }
    }
  }
</script>
{% endblock javascripts %}